@import "tailwindcss";

@theme {
  --color-brand: #005c99;
  --color-brand-dark: #094064;
  --color-brand-light: #e1edff;
  --color-brand-teal: #259ba3;
  --color-brand-green: #266b4e;
  --font-sans: "Nunito", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
